{% extends 'base.html.twig' %}

{% block logo %}background: url('{{ samochod.zdjecie }}') no-repeat center;  min-height: 250px;color: black{% endblock %}
{% block logo_text %}{{ samochod.nazwa[:80] }}{% endblock %}
{% block body %}
    <div class="caption-full">
        <h4 class="pull-right">{{ samochod.kosztWynajmu }} zł</h4>
        <h4><a href="#">{{ samochod.nazwa|trim(100) }}</a>
        </h4>
        <p>Rok produkcji: {{ samochod.rokProdukcji }}. {{ samochod.opis }}</p>
        <p>Dostępnych sztuk {{ samochod.dostepnychSztuk }}</p>
    </div>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <form action="{{ path('zamowienie_new', {'id': samochod.id}) }}">
            <div class="form-group col-xs-5">
                <label>
                    Data odbioru
                    </label>
                <input class="form-control" type="date" name="dataOdbioru" required="true"/>
            </div>
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success">Wynajmij</button>
            </div>
        </form>
        {% else %}
        Zaloguj się aby zarezerwować
    {% endif %}

{% endblock %}
