{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista użytkowników</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ostatnie logowanie</th>
                <th>Uprawnienia</th>
                <th>Email</th>
                <th>Nazwa użytkownika</th>
            </tr>
        </thead>
        <tbody>
        {% for uzytkownik in uzytkowniks %}
            <tr>
                <td>{{ uzytkownik.id }}</td>
                <td>{{ uzytkownik.lastLogin|date('Y-m-d H:i:s') }}</td>
                <td>{{ uzytkownik.roles|join(' | ') }}</td>
                <td>{{ uzytkownik.email }}</td>
                <td>{{ uzytkownik.username }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
