
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico?v=1') }}" />
    <title>{% block title %}Wypożyczalnia samochodów!{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Strona główna</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% block menu %}
                    {% if app.user %}
                        <li>
                            <a href="{{ path('zamowienia_index') }}">
                                <span class="glyphicon glyphicon-list text-success"></span> Zamówienia</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>

                                <a href="{{ path('uzytkownicy_index') }}">
                                    <span class="glyphicon glyphicon-user text-info"></span>
                                    Użytkownicy</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li >
                                <a href="{{ path('samochody_new') }}">
                                    <span class="glyphicon glyphicon-plus-sign text-success"></span> Dodaj pojazd</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <span class="glyphicon glyphicon-log-out text-primary"></span>
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} - {{ app.user.username }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">
                                <span class="glyphicon glyphicon-log-in text-primary"></span>
                                {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">
                                <span class="glyphicon glyphicon-registration-mark text-success"></span>

                                {{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    {% endif %}

                {% endblock %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
{% block header %}
    <header class="sb-page-header" style="{% block logo %}background: url({{ asset('logo.jpg') }}) no-repeat center;background-size:contain;{% endblock %}">
        <div class="container">
            <h1>{% block logo_text %}{% endblock %}</h1>
            <p></p>
        </div>
    </header>
{% endblock %}
<!-- Page Content -->
<div class="container">
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}


    <div class="row">
        {% block body %}{% endblock %}

    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Maciej Ćwiok 2016</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>

</html>